.dashboard{
  display: flex;
  width: 100%;
  min-height: 850px;

  &-wrapper{
  display: flex;
   min-height: 100%;
  width: 100%;
  
  }

  &-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
  justify-content: space-between;
  }

  &-body{
    padding: 0;
    border-radius: 6px;
    @include for-phone-only{
      max-height: 700px;
      overflow: scroll;
    }
    @include for-tablet-portrait-up{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      max-height: 600px;
      overflow: scroll;
    }
    @include for-tablet-landscape-up{
      // padding: 2rem;
      // width: 60%;
      // margin-left: auto;
      // margin-right: auto;
          
    }
    
  }
  
  &-body-wrapper{
    padding: 1rem;
    overflow: scroll;
    @include for-phone-only{
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
    @include for-tablet-landscape-up{
      width: 100%;          
    }
  }
  &-body__grid{
  display: grid;
  gap: 15px;
 grid-template-columns: 1fr 1fr;

  }
  &-body__list{
    padding: 16px 16px;
    display: block;
  }
  // Dashboard Card
  &-card{
    display: flex;
   
  }
  &-card__list{
    margin-bottom: 1.125rem;
    @include for-phone-only{
      max-height: 300px;
    } 
      @include for-tablet-portrait-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
&-card__grid{
  display: flex;
  flex-direction: column;
}
}


// Side Nav
  .side-nav {
    display: none;
    @include for-tablet-landscape-up; @include for-tablet-portrait-up{
      height: 100%;
      display: flex;
      background-color: black;
    }
  }
 


.MuiPagination-ul{
  justify-content: center;
}








