:export {
  primaryColor: #de9e36;
  secondaryColor: #03dac5;
  surfaceColor: #292929;
  errorColor: #9a1010;
  successColor: #bcd500;
}

.dashboard-body {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.dashboard-body__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.dashboard-body__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard-card {
  margin-bottom: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-card__list {
  padding: 0.7rem;
}

.dashboard-card__grid {
  padding: 1rem;
}

.nav-items {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .custom-regiments {
    border-right: 1px solid gold;
  }
  .dashboard {
    height: 930px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0fr 3fr;
        grid-template-columns: 0fr 3fr;
  }
  .side-nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .side-nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .side-nav .navbar .nav-items {
    padding: 1.75rem;
  }
  .side-nav .navbar .nav-items li {
    cursor: pointer;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif !important;
}

.hero-img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../public/luis-reyes-mTorQ9gFfOg-unsplash.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/luis-reyes-mTorQ9gFfOg-unsplash.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.icon {
  font-size: 30px;
  color: #03dac5;
}

.css-1qpetk2-MuiFormLabel-root {
  color: #e2e2e2;
  font-weight: 600;
}

.MuiFormGroup-root .css-dmmspl-MuiFormGroup-root {
  color: #cacaca;
}

.MuiFormControl-root .css-1nrlq1o-MuiFormControl-root {
  margin-bottom: 1.125rem;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=global.css.map */