:export {
  primaryColor: #de9e36;
  secondaryColor: #03dac5;
  surfaceColor: #292929;
  errorColor: #9a1010;
  successColor: #bcd500;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 850px;
}

.dashboard-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  width: 100%;
}

.dashboard-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-body {
  padding: 0;
  border-radius: 6px;
}

@media (max-width: 599px) {
  .dashboard-body {
    max-height: 700px;
    overflow: scroll;
  }
}

@media (min-width: 600px) {
  .dashboard-body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-height: 600px;
    overflow: scroll;
  }
}

.dashboard-body-wrapper {
  padding: 1rem;
  overflow: scroll;
}

@media (max-width: 599px) {
  .dashboard-body-wrapper {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

@media (min-width: 900px) {
  .dashboard-body-wrapper {
    width: 100%;
  }
}

.dashboard-body__grid {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 599px) {
  .dashboard-body__grid {
    display: block;
  }
}

.dashboard-body__list {
  padding: 16px 16px;
  display: block;
}

.dashboard-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-card-body {
  display: "flex";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "column";
          flex-direction: "column";
}

.dashboard-card__list {
  margin-bottom: 1.125rem;
}

@media (max-width: 599px) {
  .dashboard-card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 600px) {
  .dashboard-card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.dashboard-card__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .dashboard-card__grid {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

.side-nav {
  display: none;
}

@media (min-width: 600px) {
  .side-nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.side-nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.MuiPagination-ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif !important;
}

.hero-img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../public/luis-reyes-mTorQ9gFfOg-unsplash.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/luis-reyes-mTorQ9gFfOg-unsplash.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.icon {
  font-size: 30px;
  color: #03dac5;
}

.css-1qpetk2-MuiFormLabel-root {
  color: #e2e2e2;
  font-weight: 600;
}

.MuiFormGroup-root .css-dmmspl-MuiFormGroup-root {
  color: #cacaca;
}

.MuiFormControl-root .css-1nrlq1o-MuiFormControl-root {
  margin-bottom: 1.125rem;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #313030 inset !important;
}
/*# sourceMappingURL=global.css.map */